.wrapper{
    display: flex;
    justify-content: space-between;
    h1{
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-size: 43px;
        line-height: 59px;
        margin:0;
    }
    .options{
        display: flex;
        align-items: center;
        gap: 2.1rem;
    }
}