.wrapper{
    button{
    width: 50px;
    height: 50px;
    background: #3B3B3B;
    border: 1px solid #3B3B3B;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}