.note{
  font-family: 'Nunito', sans-serif;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  padding:  27px 45px;
  border-radius: 10px;
  color: #000000;
  p{
    margin:0;
  }
  &.remove{
    background-color: #FF0000 !important;
    color: #FFFFFF;
    position: relative;
    app-button {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      &::ng-deep button{
        background: transparent;
        border: none;
      }


    }
    p{
      visibility: hidden;
    }
  }
}