.note{
  font-family: 'Nunito', sans-serif;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  padding:  27px 45px;
  //opacity: 0.5%;
  border-radius: 10px;
}